.level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 150px 30px;
  flex-wrap: wrap;
  height: 250px;
  button {
    width: 200px;
    font-size: 25px;
    margin: 30px;
  }
}
