input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: 1px solid black;
  font-size: 25px;
  font-weight: bolder;
  box-sizing: border-box;
  text-align: center;
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.edit {
  color: red;
}
.highlight {
  background: #eeeedd;
}
.nonedit {
  color: grey;
}

.edited {
  background: #dddd00;
}
